.slider {
    width: 50%;
    display: grid;
    grid-template-areas: 
    "a a a a a"
    "b c d e f";
}

.meme-block {
    width: 100%;
	opacity: 0;
    grid-area: a;
}
.meme-block img {
    width: 100%;
}
#meme1, .slider-label1 {
    grid-area: b;
}
#meme2, .slider-label2 {
    grid-area: c;
}
#meme3, .slider-label3 {
    grid-area: d;
}
#meme4, .slider-label4 {
    grid-area: e;
}
#meme5, .slider-label5 {
    grid-area: f;
}

.slider-check:checked + .slider-label + .meme-block {
    display: block;
    opacity: 1;
}

.slider-check:checked + .slider-label {
	background:#C00;
}